@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to the Library!</h1>

What would you like to do? 
<br /><br />
<a href="managebooks" class="btn btn-danger">Manage Books</a>
<a href="borrowbook" class="btn btn-danger">Borrow Books</a>
<a href="returnbook" class="btn btn-danger">Return Books</a>
<a href="manageusers" class="btn btn-danger">Manage Users</a>
<a href="borrowedbooks" class="btn btn-danger">Borrowed Books</a>

