<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorLab</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/manageusers" Match="NavLinkMatch.All">
                <span class="oi oi-person" aria-hidden="true"></span> Manage Users
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/managebooks" Match="NavLinkMatch.All">
                <span class="oi oi-book" aria-hidden="true"></span> Manage Books
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/borrowbook" Match="NavLinkMatch.All">
                <span class="oi oi-bookmark" aria-hidden="true"></span> Borrow Book
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/returnbook" Match="NavLinkMatch.All">
                <span class="oi oi-book" aria-hidden="true"></span> Return Book
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
